<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716366816328-p88uh08b0o5gkdbo1fllq229uv2bjvlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716366816328-p88uh08b0o5gkdbo1fllq229uv2bjvlp</string>
	<key>API_KEY</key>
	<string>AIzaSyDWxujwXfG2U1PDYJRJ3q4p1LzplKGL4KE</string>
	<key>GCM_SENDER_ID</key>
	<string>716366816328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.lesson9</string>
	<key>PROJECT_ID</key>
	<string>lesson9-c8bb3</string>
	<key>STORAGE_BUCKET</key>
	<string>lesson9-c8bb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716366816328:ios:bdea9e4f45df1e7c00247d</string>
</dict>
</plist>